:root {
    --font-family: 'Poppins', sans-serif;
    --primary: #1ebfc1;
    --white: #fff;
    --white-lv2: #fefefd;
    --heading-color: #0d1111;
    --gray: #767e7e;
    --light-gray: #9da6a5;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--gray);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100vw - 64px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.mt-30 {
    margin-top: 30px;
}

.section-spacing {
    padding: 50px 0;
}

.center-y {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.8rem;
    min-width: 186px;
    padding: 20.6px 16px;
    border-radius: 14px;
    background: var(--primary);
    color: var(--white);
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.small-btn {
    min-width: 108px;
}

.outline-btn {
    font-size: 1.6rem;
    color: var(--primary);
    border: 1px solid currentColor;
    background: var(--white);
    padding: 11.2px 16px;
    border-radius: 6px;
}

.outline-btn:hover {
    color: var(--white);
    background: var(--primary);
}

.heading {
    color: var(--heading-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.33;
}

.large-heading {
    font-size: 6.2rem;
    line-height: 1.16;
}

.small-heading {
    font-size: 2.2rem;
}

.smaller-heading {
    font-size: 2rem;
    font-weight: 600;
}

.label {
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.stat-text {
    color: var(--heading-color);
    font-size: 1rem;
    font-weight: 500;
}

.desc {
    color: var(--gray);
    font-size: 1.8rem;
    line-height: 1.78;
}

.small-desc {
    font-size: 1.6rem;
    line-height: normal;
}

.sub-desc {
    color: var(--light-gray);
    font-size: 1.6rem;
    line-height: 1.69;
}

.small-sub-desc {
    font-size: 1.4rem;
    line-height: normal;
}

/* Header */
.header {
    padding: 52px 0 8px;
    background: var(--white);
}

.header.sticky {
    position: sticky;
    top: -44px;
    z-index: 2;
}

.header .nav {
    margin-left: 215px;
}

.header .nav ul {
    display: flex;
}

.header .nav ul a,
.header .sign-in-btn {
    padding: 8px 20px;
    color: #2f3a3b;
}

.header .nav ul a:hover,
.header .sign-in-btn:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .cta-group {
    margin-left: auto;
}

.header .sign-in-btn {
    margin-right: 4px;
}

/* Hero */
.hero {
    padding: 42px 0 79px;
}

.hero .content {
    width: 458px;
}

.hero .visual {
    position: relative;
    width: 576px;
    height: 631px;
    background: url('/assets/img/hero-img.png') #e0f7f6 -187.189px -71.417px / 157.903% 111.318% no-repeat;
}

.hero .main-label {
    color: var(--gray);
    font-size: 1.4rem;
}

.hero .heading {
    margin-top: 18px;
    line-height: normal;
}

.hero .desc {
    color: var(--light-gray);
}

.hero .cta-group {
    display: flex;
    margin-top: 52px;
}

.hero .play-video-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    margin-left: 50px;
    border-radius: 62px;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .play-video-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Stat Courses */
.hero .stat-courses {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    width: 157px;
    height: 75px;
    padding: 17px 25px;
    background: var(--white-lv2);
    border-radius: 18px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .book-icon {
    position: relative;
    width: 36px;
    height: 40px;
    background: url('/assets/icons/book.svg') no-repeat;
}

.hero .white-bar-icon {
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.hero .stat-content {
    margin-left: 16px;
}

/* Stat Schedules */
.hero .stat-schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;
    width: 124px;
    height: 132px;
    padding: 16px 25px;
    border-radius: 24px;
    background: var(--white);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.hero .bar-icon {
    display: block;
}

.hero .two-colors-bar-icon:first-of-type,
.hero .gray-bar-icon {
    margin: 16px auto 0;
}

.hero .two-colors-bar-icon:nth-of-type(2) {
    margin: 12px 0 10px;
}

/* Stat Students */
.hero .stat-students {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: var(--white-lv2);
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .avatars {
    display: flex;
    margin-top: 8px;
}

.hero a + a .avatar {
    margin-left: -7px;
}

.hero .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: transform ease 0.3s;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color, #1ebfc1);
}

.hero .avatar:hover {
    transform: scale(1.5);
}

.hero .avatar-1 {
    background-image: url('/assets/img/avatar-1.png');
}

.hero .avatar-2 {
    background-image: url('/assets/img/avatar-2.png');
}

.hero .avatar-3 {
    background-image: url('/assets/img/avatar-3.png');
}

.hero .avatar-4 {
    background-image: url('/assets/img/avatar-4.png');
}

.hero .avatar .stat-text {
    color: var(--white);
}

/* Features Section */
.features-section {
    margin-top: 80px;
}

.features-section .top-heading {
    width: 577px;
    margin: 18px 0;
}

.features-section .top-desc {
    width: 590px;
    line-height: normal;
}

.features-section .features-list {
    display: flex;
    width: 1024px;
    margin-top: 80px;
}

.features-list .features-item {
    flex: 4;
}

.features-list .features-item:first-child {
    flex: 3;
}

.features-list .features-item:nth-child(2) {
    margin-left: 209px;
}

.features-list .features-item:last-child {
    margin-left: 200px;
}

.features-item .heading {
    margin: 26px 0 16px;
}

/* Courses */
.courses .top-heading {
    margin: 18px 0 19px;
}

.courses .top-desc {
    width: 525px;
}

.courses .link {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.courses .courses-list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
    margin-bottom: 124px;
}

.courses .course-item {
    position: relative;
    width: 33.33%;
    height: 393px;
    border-radius: 8px;
}

.courses .course-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.courses .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #d0efed;
    opacity: 0.35;
}

.course-item.course-1 {
    background: url('/assets/img/course-1.png') 50% / cover no-repeat;
}

.course-item.course-2 {
    background: url('/assets/img/course-2.png') 50% / cover no-repeat;
}

.course-item.course-3 {
    background: url('/assets/img/course-3.png') 50% / cover no-repeat;
}

.courses .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -124px;
    padding: 18px 25px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.courses .fee {
    margin: 16px 0 6px;
}

.courses .meta {
    display: flex;
    margin-top: 18px;
}

.courses .meta span {
    position: relative;
    padding: 0 16px;
}

.courses .meta span::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary);
}

/* Stats */
.stats {
    padding: 185px 0;
}

.stats .list {
    margin: 0 auto;
    width: 862px;
    max-width: calc(100vw - 200px);
    display: flex;
    justify-content: space-between;
}

.stats .item {
    text-align: center;
}

.stats .heading {
    line-height: normal;
}

.stats .desc {
    margin-top: 11px;
    line-height: normal;
}

/* Feedback */
/* Content */
.feedback .body {
    display: flex;
}

.feedback .content {
    width: 419px;
}

.feedback .double-quotes {
    display: block;
}

.feedback blockquote {
    margin: 27px 0 33px;
    color: #5d6564;
    font-size: 3.2rem;
}

.feedback .student {
    position: relative;
    padding-left: 13px;
    color: #070707;
    font-weight: 500;
}

.feedback .student::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 8px;
    height: 2px;
    background: currentColor;
}

.feedback .controls {
    margin-top: 52px;
    display: flex;
    gap: 0 30px;
}

.feedback .control-btn {
    cursor: pointer;
}

.feedback .control-btn:hover {
    opacity: 0.8;
}

/* Avatar group */
.feedback .avatar-group {
    margin-left: 72px;
    flex: 1;
}

.feedback .avatar-row {
    display: flex;
}

.feedback .avatar {
    width: var(--width, 78px);
    height: var(--height, 78px);
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

.feedback .avatar-row.top {
    margin-left: 144px;
}

.feedback .avatar-row.top .avatar-left {
    background-image: url('/assets/img/avatar-3.png');
}

.feedback .avatar-row.top .avatar-right {
    margin-top: 19px;
    margin-left: auto;
    background-image: url('/assets/img/avatar-4.png');
}

.feedback .avatar-row.center {
    margin-top: -22px;
}

.feedback .avatar-row.center .avatar-left {
    margin: 151px 195px 0 0;
    background-image: url('/assets/img/avatar-1.png');
}

.feedback .avatar-row.center .avatar-right {
    background-image: url('/assets/img/avatar-2.png');
}

.feedback .avatar-row.bottom {
    margin: 32px 0 0 212px;
}

.feedback .avatar-row.bottom .avatar-left {
    margin: 29px 279px 0 0;
    background-image: url('/assets/img/avatar-5.png');
}

.feedback .avatar-row.bottom .avatar-right {
    background-image: url('/assets/img/avatar-6.png');
}
